* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Header and Navigation Bar */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 48px;
}

h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

.seo {
    color: rgb(217, 220, 214);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

li a:hover {
    filter: drop-shadow(0 0 0.5rem gray);
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/* Hero Image */
.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/* Content <section> (Three horizontal blue boxes on the left side of the webpage) */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-img-left {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.content-img-right {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

/* Benefits <aside> (Vertical blue box on the right side of the webpage) */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits-article {
    margin-bottom: 32px;
    color: #ffffff;
}


/* Footer */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

#footer-header {
    font-size: 20px;
    margin-bottom: 0px;
}
